.memain {
	background: url(../public/images/hintergrund3.webp);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0;

}


.mewrapper {
	margin: 3rem 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

}

.meitem1 {
	width: 500px;

}

@media screen and (max-width: 1024px) {
   .meitem1 {
  width:80%;
}
  }


.meitem2 {
	padding: 2rem;
	width: 500px;	
}

@media screen and (max-width: 1024px) {
   .meitem2 {
   	padding: 1rem 0;
  width:80%;
}
  }



.mewrapper2 {
	margin: 3rem 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
}

.mewrapper2 h2,
.mewrapper2 p {
	text-align: center;
}

.mebox2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 600px;
	margin: 1rem 0;
}

@media screen and (max-width: 1024px) {
   .mebox2 {
  width:80%;
}
  }

.mefull {
	padding: 5rem 0;
	width: 100%;
	min-height: 400px;
	background: -webkit-gradient(linear, left top, right top, color-stop(34%, rgba(253,220,128,0.70)), color-stop(70%, rgba(234,90,86,0.50))), url(../public/images/mensch.jpg);
  background: -o-linear-gradient(left, rgba(253,220,128,0.70) 34%, rgba(234,90,86,0.50) 70%), url(../public/images/mensch.jpg);
  background: linear-gradient(90deg, rgba(253,220,128,0.70) 34%, rgba(234,90,86,0.50) 70%), url(../public/images/mensch.jpg);
  background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}

.mefullbox {
	width: 700px;
}

@media screen and (max-width: 1024px) {
   .mefullbox {
  width:80%;
}
  }

.mefull2 {
	padding: 5rem 0;
	width: 100%;
	min-height: 400px;
  background: linear-gradient(90deg, rgba(253,220,128,0.85) 34%, rgba(234,90,86,0.85) 60%), url(../public/images/iac.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}

.mefullbox2 {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 3rem 0;

}

@media screen and (max-width: 1024px) {
   .mefullbox2 {
  width:80%;
}
  }

.psmall {
	font-size: 0.9rem;
}