.footerwrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem;
	background-color: var(--red);
}




.footerbox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
}

@media screen and (max-width: 768px) {
  .footerbox {
    width: 100%;
    justify-content: space-between;

  }
}



.footerwrapper a:hover {
	color: var(--white) !important;
}


