
.probe {
    min-height: 600px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 0;
    background-color: rgba(31,8,49,0.03);

}

@media screen and (max-width: 1024px) {
   .probe {
     width: 100%;
}
  }

.probe1 {
    width: 500px;
    padding: 2rem;

}

.probe2 {
    width: 500px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btnfragen {
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  background: var(--red);
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  margin: 1rem 0;
  opacity: 0.5;
}

.btnfragen:hover {
    background: var(--red);
    color: white;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  opacity: 1;
}