.geist {
  background: -webkit-gradient(linear, left top, right top, color-stop(34%, rgba(253,220,128,0.70)), color-stop(70%, rgba(234,90,86,0.50))), url(../public/images/hintergrund.webp);
  background: -o-linear-gradient(left, rgba(253,220,128,0.70) 34%, rgba(234,90,86,0.50) 70%), url(../public/images/hintergrund.webp);
  background: linear-gradient(90deg, rgba(253,220,128,0.70) 34%, rgba(234,90,86,0.50) 70%), url(../public/images/hintergrund.webp);
  background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 100vh;
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (max-width: 768px) {
   .geist {
  min-height: 50vh;
}
  }


.geistbox {
  width:700px;
}

@media screen and (max-width: 768px) {
   .geistbox {
  width: 90%;
}
  }

.fp {
    min-height: 600px;
    width:100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(34%, rgba(253,220,128,0.28335084033613445)), color-stop(70%, rgba(234,90,86,0.16010154061624648))),url(../public/images/hintergrund3.webp);
    background: -o-linear-gradient(left, rgba(253,220,128,0.28335084033613445) 34%, rgba(234,90,86,0.16010154061624648) 70%),url(../public/images/hintergrund3.webp);
    background: linear-gradient(90deg, rgba(253,220,128,0.28335084033613445) 34%, rgba(234,90,86,0.16010154061624648) 70%),url(../public/images/hintergrund3.webp);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.fp1 {
    margin: 5rem 0;
    width:700px;
    padding: 3rem;  
}

.fp p {
  line-height:2rem;
}

.fpboxeswrapper {
    min-height: 600px;
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background: -webkit-gradient(linear, left top, right top, color-stop(34%, rgba(253,220,128,0.28335084033613445)), color-stop(70%, rgba(234,90,86,0.16010154061624648))),url(../public/images/kursraum.webp);
    background: -o-linear-gradient(left, rgba(253,220,128,0.28335084033613445) 34%, rgba(234,90,86,0.16010154061624648) 70%),url(../public/images/kursraum.webp);
    background: linear-gradient(90deg, rgba(253,220,128,0.28335084033613445) 34%, rgba(234,90,86,0.16010154061624648) 70%),url(../public/images/kursraum.webp);
    background-position: 100% 0%;
    background-size: cover;
    background-repeat: no-repeat; 
}


.fpbox {
  margin: 5rem 2rem;
  padding: 5rem;
  width: 600px;
  background: -webkit-gradient(linear, left top, right top, color-stop(34%, rgba(253,220,128,0.60)), color-stop(80%, rgba(234,90,86,0.40)));
  background: -o-linear-gradient(left, rgba(253,220,128,0.60) 34%, rgba(234,90,86,0.40) 80%);
  background: linear-gradient(90deg, rgba(253,220,128,0.60) 34%, rgba(234,90,86,0.40) 80%);
  border-radius: 25px;

}

@media screen and (max-width: 768px) {
   .fpbox {
  width:100%;
  padding: 3rem;
}
  }




.fpcontact {
  background-color: var(--lila);
  color: var(--white);
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  
}

.fpcontactbox {
  width: 600px;
  

}

@media screen and (max-width: 768px) {
   .fpcontactbox {
  width:70%;
}
  }


.btn {
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
  text-decoration: none;
  background: -o-linear-gradient(19deg, rgba(255,232,130,1) 2%, rgba(230,100,100,1) 100%);
  background: linear-gradient(71deg, rgba(255,232,130,1) 2%, rgba(230,100,100,1) 100%);
  padding: 1.2rem;
  border-radius: 20px;
  display: inline-block;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  margin: 2rem 1rem 0 0;
  opacity: 0.7;
}

.btn:hover {
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: var(--white);
  background: none;
  background-color: var(--orange);
  opacity: 1;
}

.btn2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--black);
  text-decoration: none;
  background: var(--white);
  padding: 1.2rem;
  border-radius: 25px;
  display: inline-block;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  margin: 2rem 1rem 0 0;
  opacity: 0.7;
}

.btn2:hover {
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: var(--black);
  background: none;
  background-color: var(--white);
  opacity: 1;
}

.probe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    background-color: var(--red);

}

.probe1 {
    width: 500px;
    padding: 2rem;

}

.probe2 {
    width: 500px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.tanzschulewrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;

}

.tanzschule {
    width: 950px;
}