.kontakt {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
}


.kontaktbox {
	height: 200px;
	width: 300px;
	margin: 1rem;
	text-align: center;

}

.maps {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	margin: 2rem 0;

}

.mapsbox {
	width: 35%;
	background: linear-gradient(0deg, rgba(255,232,130,0.86) 0%, rgba(230,100,100,0.86) 100%);
	padding: 6rem;

	border-radius: 25px;
}

