
.kontakt {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 1rem 0;
}


.kontaktbox {
	height: 200px;
	width: 300px;
	margin: 1rem;
	text-align: center;

}

@media screen and (max-width: 768px) {
   .kontaktbox {
  width:70%;
}
  }


.maps {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 1rem 0;
	margin: 2rem 0;

}

@media screen and (max-width: 1024px) {
   .maps {
  margin: 0;
  padding:0;
}
  }



.mapsbox {
	width: 35%;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(255,232,130,0.86)), to(rgba(230,100,100,0.86)));
	background: -o-linear-gradient(bottom, rgba(255,232,130,0.86) 0%, rgba(230,100,100,0.86) 100%);
	background: linear-gradient(0deg, rgba(255,232,130,0.86) 0%, rgba(230,100,100,0.86) 100%);
	padding: 6rem;
	border-radius: 25px;
}

@media screen and (max-width: 1024px) {
   .mapsbox {
  width:100%;
  border-radius: 0;
  padding: 3rem;
}
  }

.icon {
	color: var(--red);
}