/* ----------------------------------- NEW Navigation */
	.nav {
		width: 100%;
		min-height: 175px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align:center;
		    -ms-flex-align:center;
		        align-items:center;
		line-height:3rem;
		padding: 1rem;
	}

	.logo {
		margin-right:2rem;
			
	}

	.link {
		cursor: pointer;
	}


	.menu {
		width: 700px;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		}




	.menu .mainitem a {
			text-decoration: none;
			font-size: 1.1rem;
			font-weight: 600 ;
			width: 100%;
			
		}

	.sidebar {
		display:none;
	}

	.navicon {
		display: none;
	}


@media screen and (max-width: 1024px) {

	.nav {
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
   .menu {
		display:none;
		}
	.sidebar {
		display:block;
	}

	.navicon {
		display: block;
		cursor: pointer;
		color: black;
		font-size: 2rem;
		}

  }