.fpcorona {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fpcoronabox {
  width: 600px;
  
}

@media screen and (max-width: 768px) {
   .fpcoronabox {
  width:70%;
}
  }

.fpcorona hr {
  width: 100px;
  margin: auto;
  border-top: 3px solid var(--lila);

}
